.Items {
    .feature {
        transform: translateY(-50%);
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        font-size: 2rem;
    }
    h2,p {
        transform: translateY(-50%);
    }
    }